body {
    margin: 0;
    background-image: linear-gradient(white, #00569B);
    font-family: 'Helvetica Neue','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2.5rem;
}

header {
    padding: 2rem;
}

header img {
    height: 5rem;
}

.sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;

}

.left-div {
    background-color: #0A4677;
    border-radius: 1rem;
    justify-self: center;

    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
}

textarea {
    width: 80%;
    height: 16rem;
    box-align: center;

}

.right-div {
    border-radius: 1rem;
    background-color: white;
    justify-self: center;
    text-align: center;
    width: 100%;
}

.right-div img {
    height: 4rem;
}