body {
    margin: 0;
    background: linear-gradient(white,#F6F9FB,#B9D1E4,#8AB2D1,#6399C2,#4686B7, #2F76AE,#1967A5, #00569B);
    font-family: 'Helvetica Neue','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2rem 4rem 2rem 4rem;
    margin: 0;
    height: 100vh;
}

header {
    padding-bottom: 2rem;
}

header img {
    height: 4rem;
}

header img:nth-child(2) {
    padding-left: 2rem;
}

header img:nth-child(3) {
    float: right;
}

h1{
    margin: auto;
    font-size: 38pt;
    color: #C3A130;
    padding-top: 60px;
    text-align: center;
}

h2{
    margin: auto;
    font-size: 30pt;
    color: white;
    padding-top: 10px;
    text-align: center;
}

.button-container{
    margin: auto;
    padding-top: 20px;
    align-items: center;
    text-align: center;

}

button{
    
   
    
    
    
}
a{
    text-decoration: none; 
    color: white;
    font-size: 30pt;
}