<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../static/start.css">
    </head>
    <body>
        <header>
            <a title="INEGI" href="https://www.inegi.org.mx/"><img src="../../static/inegi.jpg" alt="logo_inegi"></a>
            <a title="CONACYT" href="https://www.conacyt.gob.mx/"><img src="../../static/conacyt.png" alt="conacyt_logo"></a>
            <a title="UG" href="http://www.ugto.mx"><img src="../../static/ug.png" alt="ug_logo"></a>
        </header>
        
        <h1>¡BIENVENIDO!</h1>
        <h2>Seleccione la opción que desea</h2>

        <div class="button-container">
                <a class = "button" href = "../../templates/prediction_menu.html">Predicción de Texto</a>
                <a class = "button" href = "../../templates/newSection.html">Nueva Sección</a>
        </div>
    </body>
</html>