<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="/static/prediction.css"> -->
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../static/similitud.css">
    </head>
    <body>
        <header>
                <img src="../../static/inegi.jpg" alt="logo_inegi">
                <img src="../../static/conacyt.png" alt="conacyt_logo">
                <img src="../../static/ug.png" alt="ug_logo">
        </header>
            <!-- <p>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    {% endwith %}
            </p> -->
            
        <form method="POST" action="{{ url_for('display_result') }}" enctype="multipart/form-data">
            <div class="tarjetas">

                <div class="left-div">
                    <h1>Ingrese Texto o Seleccione un Archivo</h1>
                    <div>
                        <textarea id="data_1" name="data_1" cols="100" rows="50"></textarea>
                        <div class="buttons-container">
                            <input type="file" id="file_1" name="file_1" value="Subir Archivo" requiered class="file-btn">
                        </div>
                    </div>
                </div>
                
                <div class="left-div">
                    <h1>Ingrese Texto o Seleccione un Archivo</h1>
                    <div>
                        <textarea id="data_2" name="data_2" cols="100" rows="50"></textarea>
                        <div>
                            <input type="file" id="file_2" name="file_2" value="Subir Archivo" requiered class="file-btn">
                        </div>
                    </div>
                </div>
                
                <div class="left-div">
                    <h1>Ingrese Texto o Seleccione un Archivo</h1>
                    <div>
                        <textarea id="data_3" name="data_3" cols="100" rows="50"></textarea>
                        <div>
                            <input type="file" id="file_3" name="file_3" value="Subir Archivo" requiered class="file-btn">
                        </div>
                    </div>
                </div>
                
                <div class="left-div">
                    <h1>Ingrese Texto o Seleccione un Archivo</h1>
                    <div>
                        <textarea id="data_4" name="data_4" cols="100" rows="50"></textarea>
                        <div>
                            <input type="file" id="file_4" name="file_4" value="Subir Archivo" requiered class="file-btn">
                        </div>
                    </div>
                </div>
                
                <!-- <input type="submit" name="prediction_file" value="Predecir Archivo"> -->
                
            </div>
            <div class="submit">
                <input type="submit" name="similitud" value="Similitud" class="compare-btn">
            </div>
        </form>
            
        <div class="card-table">
            <div class=table>
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="titulo">Tabla de Similitud</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>  </td>
                        <td>Usuario 1</td>
                        <td>Usuario 2</td>
                        <td>Usuario 3</td>
                        <td>Usuario 4</td>
                    </tr>
                    <tr>
                        <td>Usuario 1</td>
                        <td style=" color: #2E8400">87%</td>
                        <td style=" color: #2E8400">87%</td>
                        <td style=" color: #2E8400">87%</td>
                        <td style=" color: #2E8400">87%</td>
                    </tr>
                    <tr>
                        <td>Usuario 2</td>
                        <td style=" color: #2E8400">87%</td>
                        <td style=" color: #2E8400">87%</td>
                        <td style=" color: #2E8400">87%</td>
                        <td style=" color: #2E8400">87%</td>
                    </tr>
                    <tr>
                        <td>Usuario 3</td>
                        <td style=" color: #2E8400">87%</td>
                        <td style=" color: #2E8400">87%</td>
                        <td style=" color: #2E8400">87%</td>
                        <td style=" color: #2E8400">87%</td>
                    </tr>
                    <tr>
                        <td>Usuario 4</td>
                        <td style=" color: #2E8400">87%</td>
                        <td style=" color: #2E8400">87%</td>
                        <td style=" color: #2E8400">87%</td>
                        <td style=" color: #2E8400">87%</td>
                    </tr>
                </table>
            </div>
            <div class="regresar">
                    <a href="./start.html">
                        <img src="../../static/back.png" alt="back">
                    </a>
                </div>
        </div>   
        

        </body>
    </body>
</html>